<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGIMnZ7OPlxBxbRMz7ajaDA5wdfdBVdSY</string>
	<key>GCM_SENDER_ID</key>
	<string>148770111908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BejiGFX.CoinGeckoClone</string>
	<key>PROJECT_ID</key>
	<string>coingeckoclone</string>
	<key>STORAGE_BUCKET</key>
	<string>coingeckoclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148770111908:ios:d22120be57250a5f6ac131</string>
</dict>
</plist>